<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only end>
      <img src="assets/img/menu2.png" class="menu_icon" />
    </button>
    <img src="assets/img/logo_horizontal.png" height="40" class="center" />
  </ion-navbar>
</ion-header>


<ion-content>
  <div #map id="map"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p *ngIf="kind_map== util.constants.map_branch" text-center="">
      <b>{{'en_ruta'|translate}}</b>{{branch.name}} -{{branch.address}}
    </p>
    <p *ngIf="kind_map== util.constants.map_offer" text-center="">
      <b>{{'promocion'|translate}}: </b>{{offer.name}}: {{offer.address}}
    </p>
    <button ion-button block (click)="show_options()">
      {{'opciones' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>
