<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only end>
      <ion-icon name='menu'></ion-icon>
    </button>
    <img src="assets/img/logo_horizontal.png" height="40" class="center" />
  </ion-navbar>
</ion-header>
<ion-content padding >
  <div *ngIf="company">
    <div *ngIf="company.suscripcion==1">
      <h2 text-center> {{company.name}}</h2>
      <div text-center>
        <img-loader src="assets/img/logo_horizontal.png" useImg fallback="assets/img/logo_horizontal.png" text-center></img-loader>
      </div>

      <ion-list>
        <ion-item *ngIf="company.cellphone">
          <b>{{'telefono' | translate}}</b>
          <a href="tel:{{company.cellphone}}" target="_blank" item-end>
            {{company.cellphone}}
          </a>
        </ion-item>
        <ion-item *ngIf="company.fanpage">
          <b>{{'web' | translate}}</b>
          <a href="{{company.fanpage}}" target="_blank" item-end>
            Web
          </a>
        </ion-item>
        <ion-item *ngIf="company.calification">
          <b>{{'calificacion_negocio' | translate}}</b>
          <rating item-end [(ngModel)]="company.calification" readOnly="true">
          </rating>
        </ion-item>
      </ion-list>
      <ion-grid >
        <ion-row>
          <ion-col col-6-auto>
            <button ion-button block (click)="go_to_offers()" *ngIf="company.cantidad>0">
              {{'mis_ofertas' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="company.suscripcion==0">
      <h2 text-center> {{company.name}}</h2>
      <div text-center>
        <img-loader src="{{util.url}}{{company.url_photo}}" useImg fallback="assets/img/logo_horizontal.png" text-center></img-loader>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <ion-list>
              <ion-item *ngIf="company.cellphone">
                <a href="tel:{{company.cellphone}}" target="_blank" item-end>
                  <ion-icon name="call" item-start [color]="primary"></ion-icon>
                </a>
              </ion-item>
              <ion-item *ngIf="company.email">
                <a href="mailto:{{company.email}}" target="_blank" item-end>
                  <ion-icon name="mail" item-start [color]="primary"></ion-icon>
                </a>
              </ion-item>
              <ion-item *ngIf="company.fanpage">
                <a href="{{company.fanpage}}" target="_blank" item-end>
                  <ion-icon name="globe" item-start [color]="primary"></ion-icon>
                </a>
              </ion-item>

            </ion-list>
          </ion-col>
          <ion-col col-9-auto>
            <ion-item >
              <ion-icon name="car" item-start [color]="primary"></ion-icon>
              <p item-end>{{company.domicilios?'Si':'No'}}</p>
            </ion-item>
            <ion-item >
              <ion-icon name="navigate" item-start [color]="primary"></ion-icon>
              <p item-end>{{branch.address}}</p>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <b>{{'calificacion_negocio' | translate}}</b>
              <rating item-end [(ngModel)]="company.calification" readOnly="true">
              </rating>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid >
        <ion-row>
          <ion-col col-6-auto>
            <button ion-button block (click)="go_to_offers()" *ngIf="company.cantidad>0">
              {{'mis_ofertas' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
