<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only end>
      <img src="assets/img/menu.png" class="menu_icon"/>
    </button>
    <img src="assets/img/logo_horizontal.png" height="40" class="center"/>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="data">
    <div *ngIf="data.suscripcion==0">
      <div text-center>
        <img-loader class="logo_data" src="assets/img/logo_horizontal.png" useImg
                    fallback="assets/img/logo_horizontal.png" text-center></img-loader>
      </div>
      <h2 text-center> {{data.name}}</h2>

      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-icon name="call" item-start></ion-icon>
          </ion-col>
          <ion-col text-center>
            <ion-icon name="mail" item-start></ion-icon>
          </ion-col>

          <ion-col text-center>
            <ion-icon name="globe" item-start></ion-icon>
          </ion-col>
          <ion-col text-center>
            <ion-icon name="logo-facebook" item-start></ion-icon>
          </ion-col>
          <ion-col text-center>
            <ion-icon name="logo-instagram" item-start></ion-icon>
          </ion-col>


        </ion-row>
        <ion-row *ngIf="!mas_info">
          <ion-col>
            <button ion-button block (click)="show_mas_info()">
              {{'mas_info' | translate}}
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-grid *ngIf="mas_info">
        <ion-row>
          <ion-col col-12-auto>

            <ion-item text-wrap text-justify>
              <p text-wrap text-justify>
                <b>{{'ciudad' | translate}}: </b>
                {{data.city}}, {{data.country}}</p>
            </ion-item>
            <ion-item text-wrap text-justify>
              <p>
                <b>{{'productos' | translate}}: </b>
                {{data.categories}}</p>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="data.suscripcion==1">
      <h2 text-center> {{data.name}}</h2>
      <div text-center id="logo">
        <div *ngIf="photos.length>1">
          <ion-slides #pager autoplay="5000" pager="true" loop="true" speed="300">
            <ion-slide *ngFor="let photo of photos">
              <img-loader *ngIf="util.isUrlValid(photo)" src="{{photo}}" useImg
                          fallback="assets/img/logo_horizontal.png" class="logo_company"></img-loader>
              <img-loader *ngIf="!util.isUrlValid(photo)" src="{{util.url}}{{photo}}" useImg
                          fallback="assets/img/logo_horizontal.png" class="logo_company"></img-loader>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngIf="photos.length==1">
          <div *ngIf="util.isUrlValid(data.url_photo)">
            <img-loader class="logo_company" src="{{data.url_photo}}" useImg
                        fallback="assets/img/logo_horizontal.png" text-center></img-loader>
          </div>
          <div *ngIf="!util.isUrlValid(data.url_photo)">
            <img-loader class="logo_company" src="{{util.url}}{{data.url_photo}}" useImg
                        fallback="assets/img/logo_horizontal.png" text-center></img-loader>
          </div>
        </div>
      </div>
      <ion-grid>
        <ion-row id="accesos_directos">
          <ion-col text-center>
            <div *ngIf="data.cellphone">
              <a href="tel:{{data.cellphone}}" target="_blank" item-end>
                <ion-icon name="call" item-start [color]="primary"></ion-icon>
              </a>
            </div>
            <div *ngIf="!data.cellphone">
              <ion-icon name="call" item-start></ion-icon>
            </div>

          </ion-col>
          <ion-col text-center>
            <div *ngIf="data.email">
              <a href="mailto:{{data.email}}" target="_blank" item-end>
                <ion-icon name="mail" item-start [color]="primary"></ion-icon>
              </a>
            </div>
            <div *ngIf="!data.email">
              <ion-icon name="mail" item-start></ion-icon>
            </div>

          </ion-col>
          <ion-col text-center>
            <div *ngIf="data.webpage && util.isUrlValid(data.webpage)">
              <a href="{{data.webpage}}" target="_blank" item-end>
                <ion-icon name="globe" item-start [color]="primary"></ion-icon>
              </a>
            </div>
            <div *ngIf="!data.webpage || !util.isUrlValid(data.webpage)">
              <ion-icon name="globe" item-start></ion-icon>
            </div>
          </ion-col>
          <ion-col text-center>
            <div *ngIf="data.fanpage && util.isUrlValid(data.fanpage)">
              <a href="{{data.fanpage}}" target="_blank" item-end>
                <ion-icon name="logo-facebook" item-start [color]="primary"></ion-icon>
              </a>
            </div>
            <div *ngIf="!data.fanpage || !util.isUrlValid(data.fanpage)">
              <ion-icon name="logo-facebook" item-start></ion-icon>
            </div>
          </ion-col>

          <ion-col text-center>
            <div *ngIf="data.instagram && util.isUrlValid(data.instagram)">
              <a href="{{data.instagram}}" target="_blank" item-end>
                <ion-icon name="logo-instagram" item-start [color]="primary"></ion-icon>
              </a>
            </div>
            <div *ngIf="!data.instagram || !util.isUrlValid(data.instagram)">
              <ion-icon name="logo-instagram" item-start></ion-icon>
            </div>
          </ion-col>

        </ion-row>
        <ion-row *ngIf="!mas_info">
          <ion-col>
            <button ion-button block (click)="show_mas_info()">
              {{'mas_info' | translate}}
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>
      <ion-grid id="mas_informacion" *ngIf="mas_info">
        <ion-row>
          <ion-col>
            <ion-item text-wrap text-justify>
              <p text-wrap text-justify>{{data.description}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row id="informacion">
          <ion-col col-12-auto>
            <ion-item text-wrap text-justify>
              <p text-wrap text-justify>
                <b>{{'direccion' | translate}}: </b>
                {{data.address}}
              </p>
            </ion-item>
            <ion-item text-wrap text-justify>
              <p text-wrap text-justify>
                <b>{{'ciudad' | translate}}: </b>
                {{data.city}}, {{data.country}}</p>
            </ion-item>
            <ion-item text-wrap text-justify>
              <p>
                <b>{{'productos' | translate}}: </b>
                {{data.categories}}</p>
            </ion-item>

          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

  </div>
</ion-content>
