<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only end>
      <ion-icon name='menu'></ion-icon>
    </button>
    <img src="assets/img/logo_horizontal.png" height="40" class="center" />
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ 'pais' | translate }}</ion-label>
        <ion-select placeholder="{{'escoger_un_pais' | translate}}" [(ngModel)]="data.country_id" name="country_id" (ionChange)="change_country($event, data.country_id)" required>
          <ion-option *ngFor="let country of countries" value="{{country.code}}" >{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="data.country_id">
        <ion-label stacked>{{ 'ciudad' | translate }}</ion-label>
        <ion-select placeholder="{{'escoger_una_ciudad' | translate}}" name="city_id" [(ngModel)]="data.city_id" required>
          <ion-option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'categoria' | translate }}</ion-label>
        <ion-select  placeholder="{{'escoge_la_cagetoria' | translate}}" [(ngModel)]="data.category_id" name="categories" (ionChange)="change_category($event, data.category_id)" required>
          <ion-option *ngFor="let category of categories" value="{{category.id}}" >{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'productos_favoritos' | translate }}</ion-label>
        <ion-select  placeholder="{{'escoger_tus_productos_favoritos' | translate}}" [(ngModel)]="data.subcategory_id" name="subcategories" required>
          <ion-option *ngFor="let subcategory of subcategories" value="{{subcategory.id}}" >{{subcategory.name}}</ion-option>
        </ion-select>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block (click)="find()">{{ 'buscar' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
