
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only end>
      <ion-icon name='menu'></ion-icon>
    </button>
    <img src="assets/img/logo_horizontal.png" height="40" class="center" />
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-slides pager>
          <ion-slide *ngFor="let banner of banners">
            <a href="{{banner.url_destination}}" target="_blank">
              <img-loader src="{{util.url}}{{banner.url_photo}}" useImg fallback="assets/img/logo_horizontal.png" class="slide-image"></img-loader>
            </a>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let category of categories" (click)="find_subcategories(category.id)">
    <img-loader src="{{util.url}}{{category.url_photo}}" useImg fallback="assets/img/logo_horizontal.png"></img-loader>
    <div class="card-title" style="background: rgba(0, 0, 0, 0.5)">{{category.name}}</div>
  </ion-card>

</ion-content>
