<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ 'pais' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.country_name" name="country_name" [disabled]=true value="{{account.country_name}}"></ion-input>
      </ion-item>
      <ion-item *ngIf="account.country_name">
        <ion-label stacked>{{ 'ciudad' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.city_name" name="city_name" [disabled]=true value="{{account.city_name}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'nombres' | translate }}</ion-label>
        <ion-input placeholder="{{'nombres' | translate}}" type="name" [(ngModel)]="account.names" name="names" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'apellidos' | translate }}</ion-label>
        <ion-input placeholder="{{'apellidos' | translate}}" type="name" [(ngModel)]="account.last_name" name="last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>
          {{ 'fecha_nacimiento' | translate }}
          <ng-container *ngIf="!platform.is('android')">
            {{ 'optional' | translate }}
          </ng-container>

        </ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MMMM-DD" [(ngModel)]="account.birthday" name="birthday" placeholder="{{'fecha_nacimiento' | translate}}" cancelText="{{'Cancel' | translate}}" doneText="{{'Done' | translate}}"></ion-datetime>
        <!--<ion-input placeholder="{{'fecha_nacimiento' | translate}}" type="name" [(ngModel)]="account.birthday" name="birthday" (click)="showCalendar()" readonly></ion-input>-->
      </ion-item>

      <ion-item>
        <ion-label stacked>
          {{ 'sex' | translate }}
          <ng-container *ngIf="!platform.is('android')">
            {{ 'optional' | translate }}
          </ng-container>
        </ion-label>
        <ion-select placeholder="{{'escoger_sexo' | translate}}" [(ngModel)]="account.sex" name="sex" cancelText="{{'Cancel' | translate}}" okText="{{'Done' | translate}}">
          <ion-option value="M">Masculino</ion-option>
          <ion-option value="F">Femenino</ion-option>
          <ion-option value="O">Otro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          {{ 'celular' | translate }}
          <ng-container *ngIf="!platform.is('android')">
            {{ 'optional' | translate }}
          </ng-container>
        </ion-label>
        <ion-input placeholder="{{'celular' | translate}}" type="number" [(ngModel)]="account.cellphone" name="cellphone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'email' | translate }}</ion-label>
        <ion-input placeholder="{{'email' | translate}}" type="email" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>

      <ion-item *ngIf="!signup_by_facebook">
        <ion-label stacked>{{ 'password' | translate }}</ion-label>
        <ion-input #password id="password" placeholder="{{'password' | translate}}" type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>



      <ion-item *ngIf="!signup_by_facebook">
        <ion-label stacked>{{ 'repetir_contrasena' | translate }}</ion-label>
        <ion-input #r_password id="r_password" placeholder="{{'repetir_contrasena' | translate}}" type="password" [(ngModel)]="account.r_password" name="r_password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="checkbox" *ngIf="!passwordCheckbox">{{'mostrar_contrasena'| translate}}</ion-label>
        <ion-label for="checkbox" *ngIf="passwordCheckbox">{{'ocultar_contrasena' | translate}}</ion-label>
        <ion-checkbox  class="marginTop" id="checkbox" name="checkbox" style="border-style: none;"  (ionChange)="showPassword()"></ion-checkbox>
      </ion-item>

      <ion-item text-wrap>
        <ion-label> {{ 'infor_alertas' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="account.notifications" checked="false" name="notifications"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'codigo_referido' | translate }}</ion-label>
        <ion-input placeholder="{{'codigo_referido' | translate}}" type="text" [(ngModel)]="account.refer_code" name="refer_code"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block>{{ 'registrar' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
